<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
    <link rel="shortcut icon" href="../images/banco (1).png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<div id="app">

    <body class="bg-neutral-200">
        <header class="flex flex-col bg-blue-700 items-center lg:h-20 lg:flex lg:flex-row lg:justify-between">
            <div class="flex items-center lg:ml-4">
                <img src="../images/banco (1).png" alt="">
                <h1 class="text-white text-4xl">HomeBanking</h1>
            </div>

            <nav
                class="text-xl text-blue-700 flex flex-col gap-4 items-center lg:flex lg:flex-row lg:items-center lg:mr-4">
                <img src="../images/usuario (1).png" alt="">
                <a class="bg-green-500 text-white rounded-lg text-2xl px-2" href="../web/accounts.html">Accounts</a>
                <img src="../images/transferencia-de-dinero.png" alt="">
                <a class="text-white text-2xl hover:bg-green-400/60 rounded-lg px-2" href="../web/loan-application.html">Loans</a>
                <img src="../images/tarjeta-de-credito_2.png" alt="">
                <a class="text-white text-2xl hover:bg-green-400/60 rounded-lg px-2" href="./cards.html">Cards</a>
                <img src="../images/transaccion (1).png" alt="">
                <a class="text-white text-2xl hover:bg-green-400/60 rounded-lg px-2" href="./transfer.html">Transfer</a>
                <button class="flex items-center text-2xl text-white hover:bg-green-400/60 rounded-lg px-2" v-on:click="logout()"><img
                        src="../images/cerrar-sesion (2).png" alt="">Logout</button>
            </nav>
        </header>

        <main class="flex flex-col grow min-h-screen">
            <section class="flex flex-col items-center gap-4 rounded-lg">
                <h2 class="text-4xl text-blue-700">!Hello, {{data.name}}</h2>

                <div class="flex flex-col gap-10 lg:flex lg:flex-row lg:gap-10">
                    <a href="./create-account.html">
                    <button v-if="numAccounts < 3" class="bg-blue-700 hover:bg-blue-900 text-white p-2 rounded-lg w-[200px]">Create Account</button>
                    </a>

                    <a href="./delete-account.html">
                        <button v-if="numAccounts > 1" class="bg-blue-700 hover:bg-blue-900 text-white p-2 rounded-lg w-[200px]">Delete Account</button>
                    </a>
                </div>

                <div class="flex flex-wrap justify-center items-center gap-4">
                    <template v-if="accounts.length > 0" v-for="account in accounts">
                        <article
                            class="flex flex-col justify-center items-center gap-4 bg-white rounded-lg px-2 h-[250px] w-[350px]">
                            <h2 class="text-xl text-blue-700 w-full">Type account: {{account.typeAccount}}</h2>
                            <h2 class="text-xl text-blue-700 w-full">Number account: {{account.number}}</h2>
                            <h2 class="text-2xl text-blue-700 w-full ">Amount: {{formatBudget(account.balance)}}</h2>
                            <h2 class="text-xl text-blue-700 w-full">Creation date: {{account.creationDate}}</h2>

                            <div class="flex">
                                <a v-bind:href="'./account.html?id=' + account.id"
                                    class="flex justify-center bg-blue-700 hover:bg-blue-900 p-2 rounded-lg w-[100px] text-white">Detail</a>
                            </div>
                        </article>
                    </template>
                </div>

                <a href="./loan-application.html">
                    <button class="bg-blue-700 hover:bg-blue-900 p-2 text-white rounded-lg w-[200px]">Apply</button>
                </a>
                <table class="bg-white rounded-lg lg:w-[600px]">
                    <thead class="bg-gray-100">
                        <tr class="text-left">
                            <th class="py-2 px-4 text-blue-700">Loan</th>
                            <th class="py-2 px-4 text-blue-700">Amount</th>
                            <th class="py-2 px-4 text-blue-700">Payments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-if="loans.length > 0" v-for="clientLoans in loans">
                            <tr class="border-t border-gray-300">
                                <td class="py-2 px-4">{{clientLoans .loan}}</td>
                                <td class="py-2 px-4">{{clientLoans .amount }}</td>
                                <td class="py-2 px-4">{{clientLoans .payments}}</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </section>
        </main>
        <footer class="h-10 bg-blue-700 flex justify-center lg:h-20 lg:justify-center lg:items-center">
            <h3 class="text-white text-2xl">WWW.HOMEBAKING.COM</h3>
        </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="../js/tailwind.config.js"></script>
<script src="../js/accounts.js"></script>
</body>

</html>