<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Accounts</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<div id="app">

    <body class="bg-neutral-200 flex">
        <header class="h-20 flex justify-between">
            <div class="flex items-center">
                <img src="../images/banco (1).png" alt="">
                <h1 class="text-white text-4xl">HomeBanking</h1>
            </div>

            <nav class="text-xl text-blue-700 flex gap-4 items-center">
                <a class="text-white text-2xl" href="../index.html">ClientManager</a>
                <img src="../images/usuario (1).png" alt="">
                <a class="text-white text-2xl" href="../web/accounts.html">Accounts</a>
                <img src="../images/transaccion (1).png" alt="">
                <a class="text-white text-2xl" href="../web/account.html">Transaction</a>
                <img src="../images/tarjeta-de-credito_2.png" alt="">
                <a class="text-white text-2xl" href="./cards.html">Cards</a>
            </nav>
        </header>

        <main class="flex flex-col grow min-h-screen">
            <section class="flex flex-col items-center gap-4 h-[500px] w-full rounded-lg">
                <h2 class="text-4xl text-blue-700">!Hola, {{data.name}}</h2>
                <div class="flex flex-wrap justify-center items-center gap-4 my-10">
                    <template v-if="accounts.length > 0" v-for="account in accounts">
                        <article
                            class="flex flex-col justify-center items-center gap-4 bg-blue-700 rounded-lg px-2 h-[220px] w-[350px]">
                            <h2 class="text-xl text-white w-full">Numero de Cuenta: {{account.number}}</h2>
                            <div class="flex">
                                <img src="../images/chip.png" alt="">
                            </div>
                            <h2 class="text-2xl text-white w-full ">Monto: {{formatBudget(account.balance)}}</h2>
                            <h2 class="text-xl text-white w-full">Fecha de Creaccion: {{account.creationDate}}</h2>
                            <p></p>
                        </article>
                    </template>
                </div>

                <div class="flex gap-60">
                    <template v-if="accounts.length > 0" v-for="account in accounts">
                        <a v-bind:href="'./account.html?id=' + account.id" class="bg-blue-700 hover:bg-blue-700 hover:text-white p-2 rounded-lg w-[100px] text-white">Detalle</a>
                    </template>
                </div>

                <table class="w-[500px] bg-white border border-gray-300 rounded-lg overflow-hidden">
                    <thead class="bg-gray-100">
                        <tr class="text-left">
                            <th class="py-2 px-4 text-blue-700">Loan</th>
                            <th class="py-2 px-4 text-blue-700">Amount</th>
                            <th class="py-2 px-4 text-blue-700">Payments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-if="loans.length > 0" v-for="clientLoans in loans">
                            <tr class="border-t border-gray-300">
                                <td class="py-2 px-4">{{clientLoans .loan}}</td>
                                <td class="py-2 px-4">{{clientLoans .amount }}</td>
                                <td class="py-2 px-4">{{clientLoans .payments}}</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </section>
        </main>
        <footer class="h-10">
            <h3 class="text-white text-2xl">WWW.HOMEBAKING.COM</h3>
        </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="../js/tailwind.config.js"></script>
<script src="../js/accounts.js"></script>
</body>

</html>