<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="shortcut icon" href="../images/banco (1).png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<div id="app">

    <body class="bg-neutral-200">

        <header class="flex flex-col bg-blue-700 items-center lg:h-20 lg:flex lg:flex-row lg:justify-between">
            <div class="flex items-center lg:ml-4">
                <img src="../images/banco (1).png" alt="">
                <h1 class="text-white text-4xl">HomeBanking</h1>
            </div>

            <nav class="text-xl text-blue-700 flex flex-col gap-4 items-center lg:flex lg:flex-row lg:items-center lg:mr-4">
                <img src="../images/usuario (1).png" alt="">
                <a class="text-white text-2xl" href="../web/accounts.html">Accounts</a>
                <img src="../images/transferencia-de-dinero.png" alt="">
                <a class="text-white text-2xl" href="./loan-application.html">Loans</a>
                <img src="../images/tarjeta-de-credito_2.png" alt="">
                <a class="bg-green-500 rounded-lg text-white text-2xl" href="./cards.html">Cards</a>
                <img src="../images/transaccion (1).png" alt="">
                <a class="text-white text-2xl" href="./transfer.html">Transfer</a>
                <button class="flex items-center text-2xl text-white" v-on:click="logout()"><img src="../images/cerrar-sesion (2).png"
                        alt="">Logout</button>
            </nav>
        </header>

        <main class="flex flex-col grow min-h-screen">
            <div class="flex flex-col items-center gap-10 mt-20 lg:mt-20">
                <div class="flex flex-col gap-10 lg:flex lg:flex-row">
                    <a href="./create-cards.html">
                        <button class="bg-blue-700 hover:bg-blue-900 text-white p-2 rounded-lg w-[200px]">Create Card</button>
                    </a>
                    <a href="./delete-cards.html">
                        <button class="bg-blue-700 hover:bg-blue-900 text-white p-2 rounded-lg w-[200px]">Delete Card</button>
                    </a>
                </div>
                <div class="flex flex-wrap gap-10">
                    <template v-if="cards.length > 0" v-for="card in cards" :key="card.id">
                        <template v-if="card.colorType == 'GOLD'">
                            <div
                                class="w-96 h-56 m-auto bg-yellow-500 rounded-xl relative text-white shadow-2xl transition-transform transform hover:scale-110">
                                <div class="w-full px-8 absolute top-8">
                                    <div class="flex justify-between">
                                        <div class="">
                                            <p class="font-light">
                                                Name
                                            </p>
                                            <p class="font-medium tracking-widest">
                                                {{ card.cardholder }}
                                            </p>
                                        </div>
                                        <img class="w-14 h-14" src="https://i.imgur.com/bbPHJVe.png" />
                                    </div>
                                    <div class="pt-1">
                                        <p class="font-light">
                                            Card Number
                                        </p>
                                        <p class="font-medium tracking-more-wider">
                                            {{ card.number }}
                                        </p>
                                    </div>
                                    <div class="pt-6 pr-6">
                                        <div class="flex justify-between">
                                            <div class="">
                                                <p class="font-light text-xs">
                                                    Valid
                                                </p>
                                                <p class="font-medium tracking-wider text-sm">
                                                    {{ card.fromDate }}
                                                </p>
                                            </div>
                                            <div class="">
                                                <p class="font-light text-xs text-xs">
                                                    Expiry
                                                </p>
                                                <p class="font-medium tracking-wider text-sm">
                                                    {{ card.thruDate }}
                                                </p>
                                            </div>
                                            <div class="">
                                                <p class="font-light text-xs">
                                                    CVV
                                                </p>
                                                <p class="font-bold tracking-more-wider text-sm">
                                                    {{ card.cvv }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <template v-if="card.colorType == 'TITANIUM'">
                            <div
                                class="w-96 h-56 m-auto bg-gray-600 rounded-xl relative text-white shadow-2xl transition-transform transform hover:scale-110">
                                <div class="w-full px-8 absolute top-8">
                                    <div class="flex justify-between">
                                        <div class="">
                                            <p class="font-light">
                                                Name
                                            </p>
                                            <p class="font-medium tracking-widest">
                                                {{ card.cardholder }}
                                            </p>
                                        </div>
                                        <img class="w-14 h-14" src="https://i.imgur.com/bbPHJVe.png" />
                                    </div>
                                    <div class="pt-1">
                                        <p class="font-light">
                                            Card Number
                                        </p>
                                        <p class="font-medium tracking-more-wider">
                                            {{ card.number }}
                                        </p>
                                    </div>
                                    <div class="pt-6 pr-6">
                                        <div class="flex justify-between">
                                            <div class="">
                                                <p class="font-light text-xs">
                                                    Valid
                                                </p>
                                                <p class="font-medium tracking-wider text-sm">
                                                    {{ card.fromDate }}
                                                </p>
                                            </div>
                                            <div class="">
                                                <p class="font-light text-xs text-xs">
                                                    Expiry
                                                </p>
                                                <p class="font-medium tracking-wider text-sm">
                                                    {{ card.thruDate }}
                                                </p>
                                            </div>
                                            <div class="">
                                                <p class="font-light text-xs">
                                                    CVV
                                                </p>
                                                <p class="font-bold tracking-more-wider text-sm">
                                                    {{ card.cvv }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <template v-if="card.colorType == 'SILVER'">
                            <div
                                class="w-96 h-56 m-auto bg-zinc-400 rounded-xl relative text-white shadow-2xl transition-transform transform hover:scale-110">
                                <div class="w-full px-8 absolute top-8">
                                    <div class="flex justify-between">
                                        <div class="">
                                            <p class="font-light">
                                                Name
                                            </p>
                                            <p class="font-medium tracking-widest">
                                                {{ card.cardholder }}
                                            </p>
                                        </div>
                                        <img class="w-14 h-14" src="https://i.imgur.com/bbPHJVe.png" />
                                    </div>
                                    <div class="pt-1">
                                        <p class="font-light">
                                            Card Number
                                        </p>
                                        <p class="font-medium tracking-more-wider">
                                            {{ card.number }}
                                        </p>
                                    </div>
                                    <div class="pt-6 pr-6">
                                        <div class="flex justify-between">
                                            <div class="">
                                                <p class="font-light text-xs">
                                                    Valid
                                                </p>
                                                <p class="font-medium tracking-wider text-sm">
                                                    {{ card.fromDate }}
                                                </p>
                                            </div>
                                            <div class="">
                                                <p class="font-light text-xs text-xs">
                                                    Expiry
                                                </p>
                                                <p class="font-medium tracking-wider text-sm">
                                                    {{ card.thruDate }}
                                                </p>
                                            </div>
                                            <div class="">
                                                <p class="font-light text-xs">
                                                    CVV
                                                </p>
                                                <p class="font-bold tracking-more-wider text-sm">
                                                    {{ card.cvv }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </template>
                </div>
            </div>
        </main>

        <footer class="h-10 bg-blue-700 flex justify-center lg:h-20 lg:justify-center lg:items-center">
            <h3 class="text-white text-2xl">WWW.HOMEBAKING.COM</h3>
        </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="../js/tailwind.config.js"></script>
<script src="../js/cards.js"></script>
</body>

</html>