<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<div id="app">

    <body class="bg-neutral-200">
        <header class="h-20 flex justify-between">
            <div class="flex items-center">
                <img src="./images/banco (1).png" alt="">
                <h1 class="text-white text-4xl">HomeBanking</h1>
            </div>

            <nav class="text-xl text-blue-700 flex gap-4">
                <img src="../images/usuario (1).png" alt="">
                <a class="text-white text-2xl" href="../web/accounts.html">Accounts</a>
                <img src="../images/transaccion (1).png" alt="">
                <a class="text-white text-2xl" href="./account.html">Loans</a>
                <img src="../images/tarjeta-de-credito_2.png" alt="">
                <a class="text-white text-2xl" href="./cards.html">Cards</a>
                <a class="text-white text-2xl" href="./transfer.html">Transfer</a>
                <button class="flex items-center" v-on:click="logout()"><img src="../images/cerrar-sesion (2).png"
                        alt=""></button>
            </nav>
        </header>

        <main class="h-full flex justify-center items-center flex-col min-h-screen gap-10">

            <form class="flex flex-col items-center text-xl text-blue-700 gap-4 bg-white h[700px] w-[350px] rounded-lg shadow-lg">
                <h2 class="text-2xl">Transaction</h2>
                Account Origin:
                <label>
                    <select class="border-2 border-black p-1 w-[200px] rounded-lg text-black" v-model="accountOrigen">
                        <template v-if="accounts.length > 0" v-for="account in accounts">
                            <option class="text-2xl parrafo">{{account.number}}</option>
                        </template>
                    </select>
                </label>

                Amount:
                <label>
                    <input class="border-2 border-black p-1 rounded-lg text-black" v-model="amount" type="number"
                        name="" id="">
                </label>

                Description:
                <label>
                    <input class="border-2 border-black p-1 rounded-lg text-black" v-model="description" type="text"
                        name="" id="">
                </label>

                Account Destination:
                <label>
                    <label>
                        <input class="border-2 border-black p-1 rounded-lg text-black" v-model="accountDestino" type="text" name="" id="">
                    </label>
                </label>

                <button class="bg-blue-700 hover:bg-blue-900 text-white w-[200px] rounded-lg p-1"
                    @click.prevent="createTransfer">Transfer</button>
            </form>

        </main>

        <footer class="h-10">
            <h3 class="text-white text-2xl">WWW.HOMEBAKING.COM</h3>
        </footer>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="../js/tailwind.config.js"></script>
<script src="../js/transfer.js"></script>
</body>

</html>